/* local fonts */

@font-face {
  font-family: 'Cuprum';
  src:  local('Cuprum'),
        url("/fonts/cuprum.woff2") format("woff2"),
        url("/fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src:  local('Cuprum'),
        url("/fonts/cuprumbold.woff2") format("woff2"),
        url("/fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Cuprum';
  src:  local('Cuprum'),
        url("/fonts/cuprumitalic.woff2") format("woff2"),
        url("/fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src:  local('PT Sans'),
        url("/fonts/ptsans.woff2") format("woff2"),
        url("/fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src:  local('PT Sans'),
        url("/fonts/ptsansbold.woff2") format("woff2"),
        url("/fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}


/* Variables */

:root {
  /* main colors  */
--basic-extra-dark: #293449;
--basic-dark: #32425C;
--basic-white: #ffffff;
--basic-black: #000000;
--basic-warm: #F7F3EC;
--basic-cold: #F1F5F7;
--basic-red: #EE3643;
--basic-green: #63A63E;
--basic-grey: #A9A9A9;

/* special colors*/
--focus-red: #CA2C37;
--active-red: #BA2732;
--order-focus: #5FBB2D;
--order-click: #518534;
--order-shadow: #367315;
--active-user-nav: #C5C5C5;
--hover-user-nav: #3D546F;
--filter-active: #B5B5B5;

/* one-time colors */
--modal-feedback: #F4F4F4;
--footer-social-fill: #212A3A;
--footer-warm-text: #FFD180;
--footer-cold-text: #F3F7F9;
--header-mark-special: #161D29;
--header-darc-active: #1D2739;
--contscts-btn-shadow: #405069;
--header-contact-fill: #B7BFC8;
--caption-catalog: #F2F6F8;
--filter-border: #E5E5E5;
--parners-border: #EAEAEA;
--demo-block-el: #FFBF47;
--demo-block-el2: #3BBCE3;
--demo-block-el3: #DC91D8;
--demo-block-el4:#8ED78F;
--demo-block-el5:#FFC047;
}


/* Global */

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  font-weight: 400;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

.button {
  background-color: var(--basic-red);
}

.description {
  font-family: 'PT Sans', Arial, sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Header styles */

.main-header{
}

.main-header__top-wrapper {
  background-color: var(--basic-extra-dark);
  min-height: 42px;
}

.main-header__top {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 220px 270px 1fr 1fr 1fr;
}

.main-header__top a {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.button.main-header__logo {
  text-align: center;
  height: 42px;
  display: block;
  box-shadow: 0px 5px 0px rgba(181, 41, 51, 1);
}

.button.main-header__logo img {
  padding: 12px 0;
}


.button.main-header__logo:hover {
  background-color: var(--focus-red);
}

.button.main-header__logo:active {
  background-color: var(--active-red);
}

.main-header__search {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding: 9px 0;
  margin-left: 17px;
}

.main-header__search svg {

}

.main-header__search path {
  fill: rgba(255, 255, 255, 0.3);
}

.main-header__search:hover path {
  fill: var(--basic-white);
}

.main-header__search:active path,
.main-header__search:focus path {
  fill: var(--basic-red)
}

.main-header__mark {
  padding: 9px 0;
  padding-left: 43px;
  position: relative;
}

.main-header__mark::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icons/icons_header-footer/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header__cart {
  padding: 9px 0;
  padding-left: 49px;
  position: relative;
}

.main-header__cart::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 26px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/icons_header-footer/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header__cart.inner-page {
  background-color: var(--basic-red);
}

.main-header__mark:hover::before,
.main-header__cart:hover::before  {
  opacity: 1;
}

.main-header__mark:active::before,
.main-header__cart:active::before {
  opacity: 0.3;
}

.main-header__mark:active,
.main-header__cart:active {
  background-color: var(--header-mark-special);
  color: rgba(255, 255, 255, 0.5);
}

.main-header__cart:active,
.main-header__order:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-header__order {
  background-color: var(--basic-green);
  text-align: center;
  display: block;
  padding: 9px 0;
}

.main-header__order:hover {
  background-color: var(--order-focus);
}

.main-header__bottom-wrapper{
  background-color: var(--basic-cold);
  margin: 0;
  padding-bottom: 60px;
  padding-top: 46px;
}

.main-header__bottom.header-bottom {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 270px 1fr;
  gap: 69px;
}

.header-bottom__title {
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.header-bottom__contacts {
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

.header-bottom__tel {
  border: 3px solid var(--basic-white);
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  padding: 7px 45px 8px 74px;
  position: relative;
}

.header-bottom__tel::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 39px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/icons_header-footer/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-bottom__item.login,
.header-bottom__item.signup,
.nav-login__username {
  background-color: var(--basic-white);
}

.header-bottom__item.login {
  width: 121px;
}

.header-bottom__item.signup {
  width: 150px;
}

.header-bottom__user-nav {
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-bottom__user-nav.main-page {
  display: flex;
  max-height: 45px;
}

.header-bottom__item {
  padding: 12px 0;
}

.header-bottom__item.login{
  margin-right: 10px;
}

.header-bottom__item.login-link {
  position: relative;
  left: 19px;
}

.header-bottom__item.login-link:hover path {
  fill: var(--hover-user-nav);
}

.header-bottom__item.signup {
  text-align: center;
}

.nav-login__list {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.nav-login__link {
  color: var(--basic-dark);
}

.header-bottom__item,
.nav-login__username {
  color: var(--basic-black);
}

.header-bottom__item a:hover,
.nav-login__item a:hover {
  color: var(--basic-red);
}

.header-bottom__user-nav a:active,
.nav-login__username a:active {
  color: var(--active-user-nav);
}

.main-nav {
  width: 940px;
  margin: 0 auto;
  background-color: var(--basic-dark);
  font-size: 18px;
  line-height: 24px;
}

.main-nav {
  box-shadow: inset 0px -5px 0px var(--basic-extra-dark);
}

.main-nav a{
  color: var(--basic-white);
}

.main-nav a:hover {
  background-color: var(--basic-extra-dark);
}

.main-nav a:active {
  background-color: var(--header-darc-active);
  color: rgba(255, 255, 255, 0.5);
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px 0 25px;
}

.main-nav__list a {
  display: block;
  padding: 16px 28px 20px 28px;
}


.container {
}


/* demo-block style */

.demo-block {
  color: var(--basic-white);
  width: 940px;
  margin: 0 auto;
  margin-top: 59px;
  margin-bottom: 59px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat (3 1fr);
  grid-template-rows: repeat (3 1fr);
}

.demo-block__item {
  width: 300px;
  min-height: 123px;
  margin: 0;
}

.item-demo__title {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin: 20px 0 0 23px;
}

.item-demo__btn {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  width: 135px;
  max-height: 38px;
  padding: 10px 0;
  text-align: center;
  margin-left: 23px;
  margin-top: 14px;
}

.item-demo__btn:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.item-demo__btn:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.demo-block__item.item-demo {
  background-color: var(--demo-block-el);
  position: relative;
  /* outline: 5px solid #ff0000; */
}

.demo-block__item.item-demo::after {
  content: "";
  position: absolute;
  bottom: 27px;
  left: 213px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.demo-block__item.item-demo::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-image: url("../img/icons/catalog-new.svg");
  background-repeat: no-repeat;
  background-position: 0 0 ;
}

.demo-block__item.item-demo-el2 {
  background-color: var(--demo-block-el2);
  position: relative;
}

.demo-block__item.item-demo-el2::after {
  content: "";
  position: absolute;
  bottom: 28px;
  left: 194px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icons/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.demo-block__item.item-demo-el3 {
  background-color: var(--demo-block-el3);
  position: relative;
}

.demo-block__item.item-demo-el3::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 191px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icons/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.demo-block__item.item-demo-el4 {
  background-color: var(--demo-block-el4);
  grid-column: 3 / 4;
  position: relative;
}

.demo-block__item.item-demo-el4::after {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 196px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icons/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.demo-block__item.item-demo-el5 {
  background-color: var(--demo-block-el5);
  grid-column: 3 / 4;
  position: relative;
}

.demo-block__item.item-demo-el5::after {
  content: "";
  position: absolute;
  bottom: 28px;
  left: 191px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icons/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


/* demo-block slider style */

.demo-block__slider {
  margin: 0;
  width: 620px;
  height: 266px;
  grid-column: 1 / 3;
  grid-row: 2 / 4;

  display: grid;
  grid-template-columns: repeat (8 1fr);
  grid-template-rows: repeat (3 1fr);
}

.demo-block__slider-list {
  background-color: var(--basic-warm);
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / 9;
  grid-row: 1 / 4;
}

.demo-block__control.next-slide {
  grid-column: 8 / 9;
  grid-row: 2 / 3;
  border: none;

  position: relative;
  top: 10px;
  right: 20px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icons/icon-left.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0 ;
  transform: rotate(180deg);
  cursor: pointer;
}
.demo-block__control.back-slide {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: none;

  position: relative;
  top: 10px;
  left: 24px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icons/icon-left.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.demo-block__slide.slide-item {
  width: 620px;
  min-height: 266px;
  display: grid;
  grid-template-columns: repeat (8 1fr);
  grid-template-rows: repeat (3 1fr);
}

.slide-item__desc {
  min-height: 104px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 1;
}

.slide-item__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin: 23px 0 0 24px;
}

.slide-item__text {
  font-size: 18px;
  line-height: 24px;
  margin: 5px 0 0 24px;
}

.slide-item__pic {
  grid-column: 1 / -1;
  grid-row: 1 / 4;
}

.slide-item__pic img {
  max-width: 100%;
  height: auto;
  width: 620px;
  height: 266px;
}

.button.slider-link-catalog {
  color: var(--basic-white);
  text-transform: uppercase;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: block;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  margin: 0 0 27px 24px;
}

.button.slider-link-catalog:hover {
  background-color: var(--focus-red);
}

.button.slider-link-catalog:active {
  background-color: var(--active-red);
}


/* product-card style*/

.caption-section {
  width: 940px;
  min-height: 89px;
  background-color: var(--basic-warm);
  display: flex;
  justify-content: space-between;
}

.caption-basic {
  color: var(--basic-dark);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 29px 0 0 28px;
}

.caption-section a {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  width: 192px;
  padding-top: 11px;
  margin: 25px 14px 26px 0;
}

.popular-product {
  width: 940px;
  margin: 0 auto;
}

.popular-product__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
}

.product-card li:nth-child(4n) {
  margin-right: 0;
}

.product-card__item.inner:nth-child(3n) {
  margin-right: 0;
}

.popular-product__list.product-card-inner {
  margin: 0;
  padding-bottom: 48px;
}

.product-card__item {
  border: 1px solid var(--parners-border);
  width: 218px;
  min-height: 318px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.product-card__item:nth-child(even)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-image: url("../img/icons/catalog-new.svg");
  background-repeat: no-repeat;
  background-position: 0 0 ;
}

.product-card__item:hover .product-card__back-side {
  display: inline;
}

.product-card__item:hover{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-card__item:hover img {
  display: none;
}

.product-card__front-side {
  max-width: 100%;
  height: auto;
  align-self: center;
}

.product-card__desc {
  width: 184px;
  height: 148px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end;
}

.product-card__desc h3{
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  max-height: 43px;
}

.product-card__price {
  list-style: none;
  width: 141px;
  height: 97px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.old-price {
  color: var(--basic-grey);
  text-decoration-line: line-through;
}

.new-price {
  background-color: var(--basic-red);
  color: var(--basic-white);
  width: 141px;
  min-height: 38px;
  margin-bottom: 21px;
}


/* product-card back-slide style*/

.product-card__back-side {
  display: none;
  max-height: 178px;
  padding-top: 38px;
  padding-left: 41px;
}

.product-card__btn {
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
}

.btn-buy {
  background-color: var(--basic-green);
  color: var(--basic-white);
  margin-bottom: 10px;
  box-shadow: inset 0px -3px 0px var(--order-shadow);
}

.btn-buy:hover {
  background-color: var(--order-focus);
  box-shadow: inset 0px -3px 0px var(--order-shadow);
}

.btn-buy:active {
  background-color: var(--order-click);
  box-shadow: inset 0px -3px 0px var(--order-shadow);
}

.btn-mark {
  border: 3px solid var(--basic-green);
  color: var(--basic-dark);
}

.btn-mark:hover {
  border: 3px solid var(--basic-dark);
}

.btn-mark:active {
  border: 3px solid var(--basic-grey);
  color: var(--basic-grey);
}


/* popular partners style  */

.popular-partners {
  width: 940px;
  margin: 0 auto;
}

.popular-partners-btn {
}

.popular-partners__list {
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 70px;
}

.popular-partners__item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--parners-border);
  background-color: var(--basic-white);
}

.popular-partners__item img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular-partners__item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-partners__item:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}


/* services style  */

.services-wrapper {
  background-color: var(--basic-cold);
}

.services {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 80px;
  padding-top: 64px;
}

.services h2 {
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 25px;
}

.caption-basic.services-caption {
  margin: 0;
}

.services-caption-wprapper {
  grid-column: 1 / -1;
  margin-bottom: 70px;
}

.services__control-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.services ul::after {
  content: "";
  position: absolute;
  right: 0;
  top: -49px;
  width: 10px;
  height: 279px;
  background-image: url("../img/icons/line.png");
  background-repeat: no-repeat;
  background-position: 0 0 ;
}

.services__btn {
  width: 240px;
  height: 61px;
  text-align: left;
  padding-left: 22px;
  background-color: var(--basic-dark);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  border: none;
  box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--contscts-btn-shadow);
}

.services__btn:hover {
  background-color:var(--basic-extra-dark);
}

.services__btn:active {
  background-color:var(--basic-white);
  color: var(--basic-dark);
  box-shadow: 0px 1px 0px var(--basic-white);
}

.button.credit-btn {
  color: var(--basic-white);
}

.services__more {
  width: 619px;
  min-height: 283px;
}

.services__more.delivery {
  background-image: url("../img/icons/delivery.png");
  background-repeat: no-repeat;
  background-position: top 22px right;
}

.services__more.garanty {
  background-image: url("../img/icons/garanty.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.services__more.credit {
  background-image: url("../img/icons/credit.png");
  background-repeat: no-repeat;
  background-position: top right;
}


/* about style  */

.about-contacts-wrapper {
  background-color: var(--basic-white);
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 70px;
  padding-bottom: 70px;
}

.description.about-desc {
  margin-top: 24px;
}

.about a {
  color: var(--basic-white);
  text-transform: uppercase;
  display: block;
  width: 220px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
}

.about h2 {
  color: var(--basic-black);
  margin: 0;
}

.about__list {
  list-style: none;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.about__item {
  position: relative;
  margin-left: 37px;
}

.about__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -37px;
  width: 25px;
  height: 2px;
  margin-right: 12px;
  background-color: var(--basic-red);
}


/* contacts style */

.contacts {
}

.contacts h2 {
  color: var(--basic-black);
  margin: 0;
}

.contacts-desc {
  margin-top: 24px;
}

.contacts__pic-map {
  width: 300px;
  height: 158px;
}

.contacts__pic-map img {
  max-width: 100%;
  height: auto;
}

.contacts-btn {
  margin-top: 25px;
  color: var(--basic-white);
  border: none;
  width: 300px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-transform: uppercase;
}


/* catalog styles */

.page-catalog.container {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  color: var(--basic-black);

}

.page-catalog__wrapper {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 220px 1fr;
}

.caption-basic.catalog,
.caption-basic.catalog-desc {
  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
}

.caption-basic.catalog {
  background-color: var(--caption-catalog);
  grid-column: 1 / -1;
  margin: 0 0 20px 0;
  padding-top: 29px;
  padding-bottom: 30px;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  grid-column: 1/ -1;
  margin: 21px 0 20px 0;
}

.breadcrumbs a {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}


/* filters */

.filters {
  width: 200px;
  text-align: left;
  text-transform: uppercase;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 37px;
}

.filters h3 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: var(--basic-warm);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.filter-price__range {
  background-color: var(--basic-warm);
}

.filter-price__list li {
  background-color: var(--basic-warm);
  font-size: 17px;
  line-height: 18px;
}

.filter button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--filter-border);
  background-color: var(--basic-white);
}

.filter-input-checkbox {
  /* icon */
}

.filter-input-radio {
  /* icon */
}

.filter-input-checkbox,
.filter-input-radio {
  background-color: var(--active-user-nav);
}

.filter-input-checkbox:hover,
.filter-input-radio:hover {
  background-color: var(--filter-active);
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.4;
  color: rgba(0, 0, 0, 0.4);
}


/* sortiing style  */

.sorting {
  background-color: var(--basic-warm);
  width: 700px;
  margin-bottom: 8px;
}

.sorting h3,
.sorting__btn {
font-size: 13px;
line-height: 18px;
text-transform: uppercase;
font-weight: 400;
}

.sorting ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting__btn {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting__btn:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting__btn:active {
  color: var(--basic-red);
}

.list-up-down button:hover {
  background-color: var(--basic-black);
}

.list-up-down button:active {
  background-color: var(--basic-red);
}


/* pagination style  */

.pagination-list {
  list-style: none;
  padding: 0;
  margin-bottom: 59px;
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  border: 1px solid var(--filter-border);
  color: var(--basic-black);
  text-transform: uppercase;
}

.pagination-item a:hover {
  border: 1px solid var(--active-user-nav);
}

.pagination-item a:active {
  border: 1px solid var(--basic-red);
}

/* .pagination-item.pagination-item-current:active {
  background-color: var(--basic-red);
} */


/* catalog-description style */

.catalog-description-wrapper {
  background-color: var(--basic-cold);
}

.caption-basic.catalog-desc {
  margin: 0;
  padding: 0;
}

.catalog-description {
  font-size: 13px;
  line-height: 24px;
  width: 940px;
  margin: 0 auto;
  padding-top: 64px;
}

.catalog-description p {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 68px;
}



/* footer  style  */

.main-footer {
}
.main-footer__logo {
  display: block;
  width: 220px;
  text-align: center;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-footer__logo img {
  padding: 20px 0;
}

.main-footer__top-wrapper {
  background-color: var(--basic-dark);
  margin: 0;
}

.main-footer__top {
  color: var(--footer-cold-text);
  font-size: 18px;
  line-height: 24px;
  width: 940px;
  max-height: 193px;
  margin: 0 auto;
  padding-bottom: 54px;

  display: grid;
  grid-template-columns: 321px 1fr;
  column-gap: 70px;
}

.main-footer__contacts {
  padding: 0;
  margin: 0;
  margin-top: 22px;
}

.main-footer__top a {
  color: var(--footer-cold-text);
}

.main-footer__nav.nav-top {
  margin-top: 37px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-footer__nav.nav-bottom {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 22px;
  justify-content: space-between;
}

.main-footer__nav.nav-bottom a {
  color: var(--footer-warm-text);
}

.main-footer__nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer__nav-item:hover {
  text-decoration: underline;
}

.main-footer__nav-item a:active {
  color: rgba(241, 245, 247, 0.5);
}

.main-footer__nav.nav-bottom a:active {
  color: rgba(255, 209, 128, 0.5);
}

.main-footer__bottom-wrapper {
  background-color: var(--basic-extra-dark);
}

.main-footer__bottom {
  width: 940px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  column-gap: 51px;
  padding-top: 36px;
  padding-bottom: 34px;
}

.main-footer__bottom a {
  color: var(--footer-warm-text);
}

.main-footer__bottom a:active {
  color: var(--basic-red);
}

.main-footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-footer__social-item {
  margin-right: 3px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-social-fill);
  border-radius: 50%;
}

.main-footer__copyright {
  margin: 0;
}

.social-button:hover,
.social-button:active {
  background-color: var(--basic-red);
}

.main-footer__social-item a {
  color: var(--basic-white);
}

.main-footer__feedback {
  font-style: normal;
}


/* popup style  */

.modal {
  border-top: 7px solid var(--basic-red);
}

.modal-close-btn {
}

.feedback__form {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-white);
}

.feedback-btn__wrapper {
  background-color: var(--modal-feedback);
}


.modal.map {
}

.modal.success-cart h2 {
  font-size: 24px;
  line-height: 30px;
}

.feedback-btn__wrapper.success-cart {
  list-style: none;
}

.button.made-order-btn,
.button.modal-feedback-btn {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
}

.shop-continue-btn {
  background-color: var(--basic-white);
  color: var(--basic-black);
}







